@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: arial,sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: small;
}

/* Main styling */
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  padding: 15px;
  flex: 1 0 auto;

}

/* Nav styling */
nav {
  color: #3F3F45;
  font-size: small;
}

nav, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  /* font-size: 14px; */
  font-weight: 400;
  /* margin: 20px 0; */
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

ul li {
  padding: 10px;
}

ul li:hover {
  text-decoration-line: underline;
}

#tiles {
  background-image: url('../images/grid.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2px;
  height: 2px;
  margin: 0 10px;
}

#sign-in {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  padding: 0 12px;
  margin: 0 10px;
  text-decoration: none;
}

/* Main content styling */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  /* min-height: 88.5vh; */
}

.title {
  padding-top: 109px;
  max-width: fit-content;
}

#logo {
  height: 92px;
  width: 272px;
  margin: 0 auto;
}

/* Search bar Styling */
.search {
  margin-top: 23px; 
}

.search:hover {
  box-shadow: 0 1px 6px rgb(0 0 0 / 10%);
  border-radius: 24px;
}

.search-items {
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  width: 447px;
  margin: 0 auto;
  padding: 0px 20px 0px 16px;
}

#search-glass {
  width: 22px;
  height: 22px;
  margin-bottom: 5px;
}

#search-mic {
  width: 18px;
  height: 28px;
}

input[type=text] {
  line-height: 34px;
  border: none;
  width: 400px;
  font-size: medium;
  color: #212121;
  padding: 0 10px;
}

input[type=text]:focus {
  outline: none;
}

/* Submit btn styling */
.submit-btns {
  margin-top: 29px;
}

input[type=submit] {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  color: #5F6368;
  margin: 0 4px;
  padding: 10px 16px;
  font-size: 14px;
}

input[type=submit]:hover {
  box-shadow: 0 1px 1px rgb(0 0 0/ 10%);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

/* Footer Styling */
footer {
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  padding: 0 20px;
  line-height: 20px;
  color: #5f6368;
  font-size: 14px;
  flex-shrink: 0;
}